<div id="navbar">
    <div id="left">
        <div id="site">
            <a class="navbar-link">SingleCodeHub</a>
        </div>
        <div id="links">
            <a class="navbar-link navbar-link-path">
                Stack
            </a>
            <a class="navbar-link navbar-link-path">
                Blog
            </a>
            <a class="navbar-link navbar-link-path">
                About Us
            </a>
        </div>
    </div>
    <div id="right"></div>
</div>



<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="Languages">Languages</mat-tab>
    <mat-tab label="Frontend">Frontend</mat-tab>
    <mat-tab label="Backend">Backend</mat-tab>
    <mat-tab label="Database">Database</mat-tab>
    <mat-tab label="Development Tools">Development Tools</mat-tab>
</mat-tab-group>