<section class="site-navbar">
    <div class="site-navbar-inner">
        <!-- navbar left -->
        <div class="site-navbar-left">
            <ul class="site-navbar-left-list site-navbar-list">
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="/" target="_blank">/</a></li>
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="https://www.google.com/" target="_blank">Stack</a></li>
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="https://www.google.com/" target="_blank">Blog</a></li>
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="https://www.google.com/" target="_blank">Courses</a></li>
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="https://www.google.com/" target="_blank">Services</a></li>
                <li class="site-navbar-left-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-left" mat-flat-button href="https://www.google.com/" target="_blank">Contact us</a></li>
            </ul>
        </div>

        <!-- navbar right -->
        <div class="site-navbar-right">
            <ul class="site-navbar-right-list site-navbar-list">
                <li class="site-navbar-right-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-right" mat-flat-button href="/" target="_blank">Login</a></li>
                <li class="site-navbar-right-list-item">|</li>
                <li class="site-navbar-right-list-item site-navbar-list-item"><a class="site-navbar-link site-navbar-link-right" mat-flat-button href="https://www.google.com/" target="_blank">Register</a></li>
            </ul>
        </div>
    </div>
</section>

<div id="navbar">
    <div id="left">
        <!-- <div id="site">
            <a class="navbar-link">Languages</a>
        </div> -->
        <div id="links">
            <a class="navbar-link navbar-link-path">
                Language
            </a>

            <a class="navbar-link navbar-link-path">
                Frontend
            </a>
            <a class="navbar-link navbar-link-path">
                Backend
            </a>
            <a class="navbar-link navbar-link-path">
                Database
            </a>
            <a class="navbar-link navbar-link-path">
                Development
            </a>
            <a class="navbar-link navbar-link-path">
                Deployment
            </a>
        </div>
    </div>
    <div id="right"></div>
</div>


<!-- 
<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="Languages">Languages</mat-tab>
    <mat-tab label="Frontend">Frontend</mat-tab>
    <mat-tab label="Backend">Backend</mat-tab>
    <mat-tab label="Database">Database</mat-tab>
    <mat-tab label="Development Tools">Development Tools</mat-tab>
</mat-tab-group> -->



<section id="home-fs-section">
    <div id="home-fs-inner">
        <div id="home-fs-group">
            <div id="home-fs-left">
                <h3>
                    <span>What is</span>
                    Full Stack Development ?
                </h3>
                <p>
                    Full stack development is the process of development both frontend and backend of applications. A
                    full-stack application is a software application that encompasses both frontend and backend in a
                    single codebase.
                </p>
            </div>
        </div>
    </div>
</section>